<?xml version='1.0' encoding='UTF-8' ?>
<config>
  <modules>
    <LoyaltyLion_Core>
      <version>0.0.9</version>
    </LoyaltyLion_Core>
  </modules>
  <global>
    <blocks>
      <loyaltylion>
        <class>LoyaltyLion_Core_Block</class>
      </loyaltylion>
    </blocks>
    <helpers>
      <loyaltylion>
        <class>LoyaltyLion_Core_Helper</class>
      </loyaltylion>
    </helpers>
    <models>
      <loyaltylion>
        <class>LoyaltyLion_Core_Model</class>
      </loyaltylion>
    </models>
    <events>
      <sales_order_place_after>
        <observers>
          <loyaltylion_order_placed>
            <class>loyaltylion/observer</class>
            <method>handleOrderCreate</method>
          </loyaltylion_order_placed>
        </observers>
      </sales_order_place_after>
      <!-- <order_cancel_after>
        <observers>
          <loyaltylion_order_cancelled>
            <class>loyaltylion/observer</class>
            <method>handleOrderCancellation</method>
          </loyaltylion_order_cancelled>
        </observers>
      </order_cancel_after> -->
      <!-- <sales_order_payment_pay>
        <observers>
          <sales_order_payment_save_after>
            <class>loyaltylion/observer</class>
            <method>handleOrderPayment</method>
          </sales_order_payment_save_after>
        </observers>
      </sales_order_payment_pay> -->
      <sales_order_save_after>
        <observers>
          <sales_order_save_after>
            <class>loyaltylion/observer</class>
            <method>handleOrderUpdate</method>
          </sales_order_save_after>
        </observers>
      </sales_order_save_after>
      <customer_register_success>
        <observers>
          <loyaltylion_customer_registration>
            <class>loyaltylion/observer</class>
            <method>handleCustomerRegistration</method>
          </loyaltylion_customer_registration>
        </observers>
      </customer_register_success>
      <core_copy_fieldset_customer_account_to_quote>
        <observers>
          <loyaltylion_customer_registration_onepage>
            <class>loyaltylion/observer</class>
            <method>handleCustomerRegistrationOnepage</method>
          </loyaltylion_customer_registration_onepage>
        </observers>
      </core_copy_fieldset_customer_account_to_quote>
    </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <loyaltylion>
          <file>loyaltylion.xml</file>
        </loyaltylion>
      </updates>
    </layout>
    <events>
      <controller_action_predispatch>
        <observers>
          <loyaltylion_predispatch>
            <class>loyaltylion/observer</class>
            <method>saveReferralAndTrackingId</method>
          </loyaltylion_predispatch>
        </observers>
      </controller_action_predispatch>
    </events>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <loyaltylion>
                      <title>LoyaltyLion configuration</title>
                    </loyaltylion>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
