<?xml version="1.0"?>
<config>
    <modules>
        <LoyaltyLion_CouponImport>
            <version>0.1.3</version>
        </LoyaltyLion_CouponImport>
    </modules>
    <global>
        <models>
            <couponimport>
                <class>LoyaltyLion_CouponImport_Model</class>
            </couponimport>
        </models>
        <blocks>
            <couponimport>
                <class>LoyaltyLion_CouponImport_Block</class>
            </couponimport>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LoyaltyLion_CouponImport after="Mage_Adminhtml">LoyaltyLion_CouponImport_Adminhtml</LoyaltyLion_CouponImport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
