<?xml version="1.0"?>
<config>
    <modules>
        <LoyaltyLion_CouponImport>
            <version>0.3.1</version>
        </LoyaltyLion_CouponImport>
    </modules>
    <global>
        <models>
            <couponimport>
                <class>LoyaltyLion_CouponImport_Model</class>
            </couponimport>
            <salesrule>
                <rewrite>
                    <rule>LoyaltyLion_CouponImport_Model_Rule</rule>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <couponimport>
                <class>LoyaltyLion_CouponImport_Block</class>
            </couponimport>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_main>LoyaltyLion_CouponImport_Block_Adminhtml_Rule</promo_quote_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LoyaltyLion_CouponImport after="Mage_Adminhtml">LoyaltyLion_CouponImport_Adminhtml</LoyaltyLion_CouponImport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
